.login{
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
}
.login img{
      width: 100px;
      object-fit: contain;
      margin: 30px, auto;
      padding-top: 40px;
}
.login_container{
      width: 350px;
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      border: 1px solid lightgray;
      padding: 20px;
}
.login_container h1{
      font-size: 25px;
      margin: 20px 0;
}
.login_container form{
      display: flex;
      flex-direction: column;
      gap: 10px;
}
.login_container form div{
      display: flex;
      flex-direction: column;
      gap: 5px;
}
.login_container form input{
      margin-bottom: 10px;
      padding: 8px 16px;
      background-color: white;
      width: 100%;
      border: none;
      border: 1px solid gray;
      border-radius: 3px;
      /* box-sizing: border-box; */
      outline: 2px solid skyblue;
}
.login_signIn{
      border: none;
      background: #f0c14b;
      border-radius: 5px;
      width: 100%;
      height: 30px;
      margin-top: 10px;
      cursor: pointer;
}
.login_signIn:hover{
      background: #be9a3d;
}
.login_container p{
      margin-top: 10px;
      font-size: 14px;
}
.register_button{
      border: none;
      border-radius: 5px;
      width: 100%;
      height: 30px;
      margin-top: 10px;
      cursor: pointer;
}
.register_button:hover{
      background: lightblue;
}