.payment_header{
      padding: 20px;
      text-align: center;
      font-size: 24px;
      background-color: rgb(234, 237, 237);
}
.payment{
      padding: 30px;

}
.flex{
      display: flex;
      gap: 20px;
      padding: 30px;

}
.flex h3 {
      min-width: 300px;
}
.flex img{
      width: 80px !important;
}
.flex div {
      height: auto !important; 
}
.payment_container{
      max-width: 350px;
      width: 100%;

}
.card_error{
      color: red;
      margin: 15px 0;
      font-size: 14px;
}
.payment_details {
      font-size: 20px;

}
.payment_price {
      display: flex;
      font-size: 18px;
      gap: 10px;

}
.payment_details button {
      background-color: #f0c14b;
      /* border: 1px solid; */
      margin-top: 10px;
      width: 100%;
      color: #111;
      padding: 5px 10px;
      cursor: pointer;
      
}
.payment_details button:hover {
      background-color: #8d6d1d;
}
.loding{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      /* height: 100vh; */
      color: #f0c14b;
}

@media screen and (max-width: 768px) {
      .flex{
            display: block;
      }
      .flex h3 {
            min-width: 0;
      }
      .flex img{
            width: 100px !important;
      }
      .flex div {
            height: auto !important; 
      }
      .payment_container{
            max-width: 100%;
            width: 100%;
      }
}